<div class="content-container">
  <h2>Make sparks fly</h2>
  <h3>Sub heading</h3>
  <div class="discover-container">
    <div id="moment_on_show">
      <div id="user_moment"></div>
      <button id="not_like"><i class="fa fa-times fa-3x"></i></button>
      <button id="like"><i class="fa fa-heart fa-3x"></i></button>
    </div> 
  </div>
</div>


<!-- <h1>Near by users</h1>
<% if @nearby_users.length == 0 %>
  No nearby users!
<% end %>

<% if @nearby_users %>
  <% @nearby_users.each do |user| %>
    <% if user.id != @current_user.id %>
      <h3>Name: <%= user.name %></h3>
      <p>User Name: <%= user.username %></p>
      <p>Location: <%= user.location %></p>
      <p>Latitude: <%= user.latitude %></p>
      <p>Longitude: <%= user.longitude %></p>
      <br>
    <% end %>
  <% end %>
<% end %> -->

