<% if @current_user.present? %>

  <ul id="current_user"></ul>
    <script type='x-handlebars-template' id='current_userTemplate'>
      <li data-user-id="{{ id }}">
        <span id ="{{ current_username }}">Name: {{ name }} </span>
        <span id ="{{ current_userusername }}">User Name: {{ username }} </span>
        <span id ="{{ current_useremail }}">Email: {{ email }} </span>
        <span id ="{{ current_userdescription }}">Descripton: {{ description }} </span>
        <span id ="{{ current_usergender }}">Gender: {{ gender }} </span>
        <span id ="{{ current_userlocation }}">Address: {{ location }} </span>
        <img id ="{{ current_userprofile_pic }}" src="{{ profile_pic }}"></img>
      </li>
      
    </script>
  <div id="current_user_moments"></div>

<% else %>

  <h2>Already a member?</h2>
  <%= render :partial => 'session/new_session_form' %>
  <h2>New user? Sign up</h2>
  <%= render :partial => 'users/new_user_form' %>
  
<% end %>



<ul id="users"></ul>

  <script type='x-handlebars-template' id='userTemplate'>

  <li data-user-id="{{ id }}">
    <span id ="{{ name }}"> {{ name }} </span>
  </li>

  </script>

  

<script type='x-handlebars-template' id='momentTemplate'>

  <li data-moment-id="{{ id }}">
    <img  src="{{ content }}"></img>
  </li>
  
</script>


  <%= render :partial => 'moments/moments_form' %>

  

  <%= render :partial => 'users/edit_user_form' %>

<%if @user.profile_pic.present? %>
    <%=image_tag @user.profile_pic_url(:medium), :class => 'profile-main'%>
<%end%>


