<% if @current_user.present? %>
  <!-- Message to confirm user has successfully signed up via username and password -->
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>

  <!-- Displays all users whose location is within 50 miles of the current user's -->
  <div class="nearby-users">
    <h2>Near by users</h1>
    <% if @nearby_users %>
      <% @nearby_users.each do |user| %>
        <% if user.id != @current_user.id %>
          <h3>Name: <%= user.name %></h3>
          <p>User Name: <%= user.username %></p>
          <p>Location: <%= user.location %></p>
          <p>Latitude: <%= user.latitude %></p>
          <p>Longitude: <%= user.longitude %></p>
        <% end %>
      <% end %>
    <% end %>  
  </div>

  <!-- Display current user's profile --> 
  <ul id="current_user"></ul>
    <script type="x-handlebars-template" id="current_userTemplate">
      <li data-user-id="{{ id }}">
        <span id="{{ current_username }}">Name: {{ name }} </span>
        <span id="{{ current_userusername }}">Username: {{ username }} </span>
        <span id="{{ current_useremail }}">Email: {{ email }} </span>
        <span id="{{ current_userdescription }}">About: {{ description }} </span>
        <span id="{{ current_usergender }}">Gender: {{ gender }} </span>
        <span id="{{ current_userlocation }}">Location: {{ location }} </span>
        <img id="{{ current_userprofile_pic }}" src="{{ profile_pic.medium.url }}"></img>
      </li>   
    </script>

  <!-- Show other user's moments -->   
  <div id="moment_on_show">
    <div id="user_moment"></div>
      <button id="not_like">No</button>
      <button id="like">Yes</button>
  </div> 
  
  <!-- Displays all users - admin only -->
  <div id="all_users">
    <ul id="users"></ul>
      <script type="x-handlebars-template" id="userTemplate">
      <li data-user-id="{{ id }}">
        <span id="{{ name }}"> {{ name }} </span>
      </li>
      </script>
  </div>

  <!-- List all the matches of current user -->   
  <div id="current_user_matches">
    <ul id="matches"></ul>
    <script type="x-handlebars-template" id="matchTemplate">
      <li data-match-id="{{ id }}">
        <span id="{{ match_username }}">Username: {{ username }} </span>
        <img id="{{ match_userprofile_pic }}" src="{{ profile_pic.medium.url }}"></img>
      </li>     
    </script>
  </div>

 <%= render :partial => 'users/edit_user_form' %>

<% else %>

  <div class="content-container">
    <!-- Sign up for for username/password - not connected to Facebook -->
    <div class="signup-container">
      <h2>New user? Sign up</h2>
      <%= render :partial => 'users/new_user_form' %>
    </div>
    <!-- Sign in/out link for username/password and Facebook authentication -->
    <div class="signin-container">
      <h2>Already a member?</h2>
      <%= render :partial => 'session/new_session_form' %>
      <%= link_to "/auth/facebook", title: "Log in with Facebook", id: "sign_in", class: "btn-fb-signin" do %>
        <%= image_tag 'FB-f-Logo__blue_29.png', class: "btn-fb-logo" %>
        <p class="btn-fb-text">Sign in with <strong>Facebook</strong></p>
      <% end %>
    </div>   
  </div> 
<% end %>