<!DOCTYPE html>
<html>
  <head>
    <title>Sparkr</title>
<<<<<<< HEAD
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
=======
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Roboto:500,900,300,700,400' rel='stylesheet' type='text/css'>
>>>>>>> 1f4315da87a756153592e10758efcb35dce6bf5e
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='<%= @current_user.present? ? @current_user.id : "" %>' name='user-id'/>
  </head>
  <body class='<%= @current_user.present? ? "logged_in" : "logged_out" %>'>
    <header>
      <nav class="main-nav">
        <ul>
          <%== nav_menu %>
        </ul>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer> 
      <p class="credit">Made by TJ, May, Amy and Julia</p> 
      <ul class="support">
        <li>Privacy Policy</li>
        <li>Terms of Service</li>
        <li>User Support</li>
      </ul>
    </footer>
    <%= render :partial => 'layouts/handlebars_layouts' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
