<!DOCTYPE html>
<html>
  <head>
    <title>Sparkr</title>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Roboto:500,900,300,700,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='<%= @current_user.present? ? @current_user.id : "" %>' name='user-id'/>
  </head>
  <body class='<%= @current_user.present? ? "logged_in" : "logged_out" %>'>
    <div class="main-container">
       <header>
        <nav class="main-nav">
          <ul>
            <%== nav_menu %>
          </ul>
        </nav>
      </header>
      <div class="container">
        <%= yield %>
      </div>
      <footer> 
        <p class="credit">Made by <a href="https://github.com/einartj" title="TJ's GitHub">TJ</a>, <a href="https://github.com/wxm112" title="May's GitHub">May</a>, <a href="https://github.com/amysimmons" title="Amy's GitHub">Amy</a> and <a href="https://github.com/julia-" title="Julia's GitHub">Julia</a></p>
        <ul class="support">
          <li><a href="privacy">Privacy Policy</a><span> | </span></li>
          <li><a href="tos">Terms of Service</a><span> | </span></li>
          <li><a href="support">User Support</a></li>
        </ul>
      </footer>
    </div>
    <%= render :partial => 'layouts/handlebars_layouts' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
