<!DOCTYPE html>
<html>
<head>
  <title>SparkrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content='<%= @current_user.present? ? @current_user.id : "" %>' name='user-id'/>

</head>
<body>
  <nav class="main-nav">
    <ul>
      <%== nav_menu %>
    </ul>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
